input[type="text"] {
  display: block;
  border: none;
  background: #fff;
  font-size: 15px;
  padding: 6px 30px 6px 10px;
  border-radius: 1px;
  border: 1px solid #ccc;
  margin-top: 10px;
  width: 100%;
}
